aniso8601==1.1.0
astroid==1.4.6
bcrypt==3.1.3
beautifulsoup4==4.4.1
blinker==1.4
cffi==1.5.2
chardet==2.3.0
click==6.7
codacy-coverage==1.3.6
colorama==0.3.7
coverage==4.0.3
diff-match-patch==20110725.1
Flask==0.12.2
Flask-Bcrypt==0.7.1
Flask-DebugToolbar==0.10.0
Flask-DotEnv==0.0.5
Flask-Login==0.3.2
flask-mongoengine==0.7.5
Flask-RESTful==0.3.5
flask-restplus==0.10.1
Flask-RQ==0.2
Flask-Script==2.0.5
Flask-Testing==0.4.2
Flask-WTF==0.14.2
gevent==1.1.1
greenlet==0.4.10
grequests==0.3.0
itsdangerous==0.24
Jinja2==2.9.6
jsonschema==2.5.1
lazy-object-proxy==1.2.2
MarkupSafe==1.0
mongoengine==0.10.6
nose==1.3.7
nosexcover==1.0.10
pep8==1.7.0
pycparser==2.14
pylint==1.5.6
pymongo==3.2.1
pysrt==1.1.1
python-dateutil==2.5.3
python-magic==0.4.11
pytz==2016.4
redis==2.10.5
requests==2.10.0
rq==0.6.0
six==1.10.0
Werkzeug==0.12.2
wrapt==1.10.8
WTForms==2.1
