/*
 * Button
 */
@mixin button {
  border: .125rem solid;
  background-color: transparent;
  border-radius: 3px;
  padding: 4px 10px;
  cursor: pointer;
}

.button,
button {
  @include button();
}
a.button {
  color: inherit;
  text-decoration: none;
}
