$color-orange: hotpink;

.hello {
	background: $color-orange;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	border: 1px solid red;
	color: red;
}

h1 {
	color: black;
}